<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="google-maps-demo"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        
        <link rel="stylesheet" href="styles/main.css">


        <script src="scripts/vendor/modernizr.min.js"></script>
        <script src="scripts/vendor/jquery.min.js"></script> 
        <script src="scripts/app.js"></script>
        <!--scroll-->
        <!--<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet"> -->
         <script type="text/javascript">
            $('#navbar').scrollspy();
            $('[data-spy="scroll"]').each(function() {
              var $spy = $(this).scrollspy('refresh')
            });
         </script>

         <!-- end scroll-->
         <!-- tab resultado-->
         <script type="text/javascript">
            $('#TabResultado a').click(function (e) {e.preventDefault();$(this).tab('show');})
         </script>

    </head>
    <body ng-controller="DemoController" ng-cloak>



    <div class="container" style="margin-top:20px">
      <div class="row">
        <div class="span12 bplomo necesidad_box">
            <div class="ch">
              <div class="input-append">
                <form action="consultar.php" method="GET">
                  <input name="palabra" class="span2" id="appendedInputButtons" type="text">
                  <input class="btn"  value="Busqueda" type="submit"/>
                  <button class="btn" ng-click="findMe()"  type="button">
                        <i class="icon-screenshot"></i>
                        Aquí Estoy
                      </button>
                </form>



              </div>
            </div>

        </div><!-- /necesidad_box -->
      </div>
      <div class="row">
        <div class="span4">
        <!--Sidebar content-->        
          <div id="destacadosbox" class="bplomo">
            <section>
              <div class="triangulo"></div>
              <h3 class="g_azul blue_box ch">Resultados</h3>
                <div id="resultados">
                  <div data-spy="scroll" data-target="#navbarspy" data-offset="50" class="scrollspy"> 
                  <!-- TWITT START -->
    <li ng-repeat="phone in phones">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>


                      <article class="item comment clearfix cresultado" ng-repeat="resultado in resultados">

                        <div class="content">
                                               
                          <ul class="nav nav-tabs" id="TabResultado">
                            <li><a href="#telefono{{resultado.id}}" data-toggle="tab"><img class="icon-book"><i class="icon-search"></i></a></li>
                            <li><a href="#direccion{{resultado.id}}" data-toggle="tab"><img class="img-circle"><i class="icon-home"></i></a></li>
                            <li><a href="#categoria{{resultado.id}}" data-toggle="tab"><img class="img-circle"><i class="icon-list"></i></a></li>
                          </ul>
                          <div class="tab-content">
                           
                            <div class="tab-pane active" id="telefono{{resultado.id}}"> 
                                <p>
                                    {{resultado.telefono}}
                                </p>
                            </div>
                            
                            <div class="tab-pane" id="direccion{{resultado.id}}">
                                <p>
                                   {{resultado.direccion}}
                                </p>
                            </div>

                            <div class="tab-pane" id="categoria{{resultado.id}}">
                                <p>
                                  {{resultado.categoria}}
                                </p>
                            </div>

                          </div>
                      </article>
                  <!-- TWITT END -->                          
                </div>
              </div>
            <section>
        </div>          
      </div>
        

        <div class="span8">
        <!--Body content-->
          <google-map center="center" draggable="true" zoom="zoom" markers="markers"  style="height: 400px" fit="true" refresh="true"></google-map>
          

          <div id="disqus_thread" style="display: none;"></div>

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'saludmap'; // required: replace example with your forum shortname

            // The following are highly recommended additional parameters. Remove the slashes in front to use.
            var disqus_identifier = 'javascript';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>





        </div>
      </div>
      <div class="row">
        <div id="footer" class="span12 ch"><ul class="menu_footer">
          <li><a href="acercade.html">Acerca de</a></li>
          <li><a href="desarrolladores.html">Desarrolladores</a></li>
          <li><a href="privacidad.html">Privacidad</a></li>
          <li><a href="condiciones.html">Condiciones</a></li>
          <li><a href="ayuda.html">Ayuda</a></li>          
        </ul>

        </div>
      </div>
      </div>

<div class="modal fade" id="myThumbnailModal" style="display:none;padding:5px 5px 0 5px;">
    <img src="" width="600" height="400" alt="" title="" />
</div>    
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>')</script>
        
        

    <!-- DATA RESULTADOS. --><script type="text/javascript">
      /*var data= <?php echo $resultadoJSON; ?>;*/

var data={
  resultados: [
{latitude: -18.482525,longitude: -70.312859,nombre: 'Hospital Dr. Juan Noé Crevanni (Arica)',direccion: '18 de Septiembre   1000, Arica, Chile',telefono: '058-257562',categoria: 'EMAYC', id: 1},
{latitude: -18.439054,longitude: -70.290201,nombre: 'Centro de Salud Familiar Dr. Amador Neghme de Arica',direccion: 'Cancha Rayada   4149, Arica, Chile',telefono: '800500101',categoria: 'CESFAM', id: 2},
{latitude: -18.473289,longitude: -70.306759,nombre: 'Centro de Salud Familiar Iris Véliz Hume (Ex Oriente)',direccion: 'Barros Luco   2699 (esquina Las Torres), Arica, Chile',telefono: '800500102',categoria: 'CESFAM', id: 3},
{latitude: -18.219531,longitude: -69.534349,nombre: 'Centro de Salud Familiar Putre',direccion: 'Baquedano   261, Putre, Chile',telefono: '058-200261',categoria: 'CESFAM', id: 4},
{latitude: -18.480446,longitude: -70.308467,nombre: 'Centro de Salud Familiar Remigio Sapunar',direccion: 'Silva Arriagada   1020, Arica, Chile',telefono: '058-204306',categoria: 'CESFAM', id: 5},
{latitude: -18.47329,longitude: -70.306759,nombre: 'Centro Comunitario de Salud Familiar Dr. Miguel Massa',direccion: 'Francisco Urzua   4224, Loteo Pob. Las Vizcachas, Arica, Chile',telefono: '058-204811',categoria: 'CECOF', id: 6},
{latitude: -18.490589,longitude: -70.311914,nombre: 'Centro Comunitario de Salud Familiar Cerro La Cruz',direccion: 'Rafael Sotomayor   1496, Arica, Chile',telefono: '058-204370',categoria: 'CECOF', id: 7},
{latitude: -20.215454,longitude: -70.137646,nombre: 'Clínica Dental Móvil Simple. Pat. RW6740 (Iquique)',direccion: 'Thompson   1846, Iquique, Chile',telefono: '057-406100',categoria: 'CDM', id: 8},
{latitude: -20.215159,longitude: -70.152841,nombre: 'Centro de Rehabilitación Móvil (Iquique)',direccion: 'Anibal Pinto   815, Iquique, Chile',telefono: '57-409536',categoria: 'CCONV', id: 9},
{latitude: -20.216819,longitude: -70.144674,nombre: 'Vacunatorio Sonrisa Infantil',direccion: 'Anibal Pinto   1011 Of. 9, Iquique, Chile',telefono: '57-420708',categoria: 'VACU', id: 10},
{latitude: -20.218673,longitude: -70.154868,nombre: 'Vacunatorio Vacumed',direccion: 'Avda. Arturo Prat   1170, Iquique, Chile',telefono: '57-514121',categoria: 'VACU', id: 11},
{latitude: -20.22075,longitude: -70.14851,nombre: 'Centro de Salud Familiar Cirujano Aguirre',direccion: 'Pasaje 3 Pintados   S/N (esquina Avda. Pedro Prado), Iquique, Chile',telefono: '800500105',categoria: 'CESFAM', id: 12},
{latitude: -20.22075,longitude: -70.14851,nombre: 'Posta de Salud Rural San Marcos',direccion: 'Localidad de San Marcos, Iquique, Chile',telefono: '09-7144946',categoria: 'PSR', id: 16},
{latitude: -20.22075,longitude: -70.14851,nombre: 'SAPU-Cirujano Aguirre',direccion: 'Pasaje 3 Pintados   S/N (esquina Avda. Pedro Prado), Iquique, Chile',telefono: '057-573568',categoria: 'SAPU', id: 20},
{latitude: -20.241684,longitude: -70.134124,nombre: 'Centro de Salud Familiar Cirujano Guzmán',direccion: 'Avda. Pedro Prado   2763, Iquique, Chile',telefono: '800500106',categoria: 'CESFAM', id: 13},
{latitude: -20.259001,longitude: -69.7845,nombre: 'Consultorio Pozo Almonte',direccion: 'Aldunate   S/N (Esquina Comercio), Pozo Almonte, Chile',telefono: '057-761214',categoria: 'CSR', id: 14},
{latitude: -20.492277,longitude: -69.328206,nombre: 'Centro de Salud Familiar Dr. Juán Marquez Vismarra',direccion: 'Balmaceda   S/N, Pica, Chile',telefono: '057-741306',categoria: 'CESFAM', id: 15},
{latitude: -20.22075,longitude: -70.14851,nombre: 'Centro de Salud Familiar Cirujano Aguirre',direccion: 'Pasaje 3 Pintados   S/N (esquina Avda. Pedro Prado), Iquique, Chile',telefono: '800500105',categoria: 'CESFAM', id: 12},
{latitude: -20.22075,longitude: -70.14851,nombre: 'Posta de Salud Rural San Marcos',direccion: 'Localidad de San Marcos, Iquique, Chile',telefono: '09-7144946',categoria: 'PSR', id: 16},
{latitude: -20.22075,longitude: -70.14851,nombre: 'SAPU-Cirujano Aguirre',direccion: 'Pasaje 3 Pintados   S/N (esquina Avda. Pedro Prado), Iquique, Chile',telefono: '057-573568',categoria: 'SAPU', id: 20},
{latitude: -20.213089,longitude: -70.150366,nombre: 'COSAM Infanto-Juvenil de Iquique',direccion: 'Serrano   493, Iquique, Chile',telefono: '057-2613668',categoria: 'COSAM', id: 17},
{latitude: -20.278979,longitude: -70.104139,nombre: 'COSAM Enrique París',direccion: 'Santa Rosa   S/N (Alto Hospicio), Alto Hospicio, Chile',telefono: '057-3079321',categoria: 'COSAM', id: 18},
{latitude: -20.288194,longitude: -70.103824,nombre: 'Centro Comunitario de Salud Familiar El Boro',direccion: 'Calle 4   S/N (entre Avda. 14 y Calle 3, Sector El Boro), Alto Hospicio, Chile',telefono: '057-406750',categoria: 'CECOF', id: 19},
]};

/*
      var data = {
      resultados:[
        {
          latitude: -40
          ,longitude: -70
          ,nombre: 'Centro1'
          ,direccion: 'aqui1' 
          ,telefono: '82450300'
          ,categoria: 'categoria1'
          ,id: 01
        },
        {
          latitude: -10
          ,longitude: -52
          ,nombre: 'Centro2'
          ,direccion: 'aqui2' 
          ,telefono: '9000012'
          ,categoria: 'categoria2'
          ,id: 02
        },
        {
          latitude: -30
          ,longitude: -82
          ,nombre: 'Centrso2'
          ,direccion: 'aqui2' 
          ,telefono: '9000012'
          ,categoria: 'categoria2'
          ,id: 03
        },
        {
          latitude: -40
          ,longitude: -82
          ,nombre: 'Centrso2'
          ,direccion: 'aqui2' 
          ,telefono: '9000012'
          ,categoria: 'categoria2'
          ,id: 04
        }
      ]
      };*/



    </script>
    
    <!-- build:js scripts/plugins.js -->
    <script src="scripts/vendor/bootstrap/bootstrap-affix.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-alert.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-dropdown.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-tooltip.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-modal.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-button.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-popover.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-typeahead.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-carousel.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-collapse.js"></script>
    <script src="scripts/vendor/bootstrap/bootstrap-tab.js"></script>
    <!-- endbuild -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="scripts/angular-google-maps.js"></script>
    <script src="scripts/demo-controller.js"></script>
    <script src="scripts/consultas_sparql.js"></script>


</body>
</html>
